@use "../../styles/vars.scss";
@use "sass:color";

.home {
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;

  .section {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    box-sizing: border-box;
    min-height: calc(100vh - 5rem);
    background-color: #FFF;
    
    &:nth-child(even) {
      border-top: 0.2rem solid #444;
      border-bottom: 0.2rem solid #444;
    }
  }
}